<% if logged_in? %>
  <div class="row">
    <div class="col-md-4">
      <div class="user-info">
        <%= render 'shared/user_info' %>
      </div>
      <div class="tweet_form">
        <%= render 'shared/tweet_form' %>
      </div>
    </div>
    <div class="col-md-7">
      <h3>Tweets Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>

<% else %>
<div class="center jumbotron" id='bgmain'>
  <h1 class="homepage">Welcome to InstaTweet</h1>
  <h2 class="homepage">
      InstaTweet is a social media sharing app that provides real time
      tweets with photos and videos.
  </h2>
  <p>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-lg btn-success" %>
  </p>

</div>

<% end %>
