
<div class="center jumbotron" id='bgmain'>
  <h1 class="homepage">Welcome to InstaTweet</h1>
  <h2 class="homepage">
      InstaTweet is a social media sharing app that provides real time
      tweets with photos and videos.
  </h2>
  <p>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-lg btn-success" %>
  </p>

</div>
