<% provide(:title, @user.handle) %>
<div>
<aside>
<h1>
  <%= gravatar_for @user, size: 150; %><br>
  <%= @user.handle %><br>
</h1>
<h2> <%= @user.email %> </h2>
<h3> About Me </h3>
<p> <%= @user.statement %> </p>
</aside>
</div>
