/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_self
 *= require_tree .
 */

  .text {
    font-size: 20px;
    font-color: red;
  }

 .users {
  list-style: none;
    li {
      padding: 10px;
      border-bottom: 1px solid gray;
    }
 }

#logo {
  font-color: white;
  width: 50px;
  height: 50px;
}
*{
  // border: 10px red solid;
}
 @import "bootstrap-sprockets";
 @import "bootstrap";

#bgmain {

  background-image: url('http://www.adweek.com/socialtimes/files/2013/12/social-media-city.jpg');
  background-size:cover;
  text-align: center;
}

#topnav {
  display: block;
  margin-bottom: 20px;
  clear: both;
}

#body {
  display: block;
  margin-top: 150px;
}

.homepage {
  font-color: white;
}
h1,h2,{
  text-align: center;
}
